.scrollable
  float: left
a
  &.browse
    background: url(../../images/scrollable/hori_large.png) no-repeat
    display: block
    width: 22px
    height: 30px
    float: left
    margin-top: 1px
    cursor: pointer
    font-size: 1px

  &.right
    background-position: -22px 0px
    clear: right
    margin-right: 0px

    &:hover
      background-position: -22px -30px

    &:active
      background-position: -22px -60px

  &.left
    margin-left: 0px

    &:hover
      background-position: 0 -30px

    &:active
      background-position: 0 -60px

  &.up, &.down
    background: url(../../images/scrollable/vert_large.png) no-repeat
    float: none
    margin: 10px 50px

  &.up
    &:hover
      background-position: -30px 0

    &:active
      background-position: -60px 0

  &.down
    background-position: 0 -30px

    &:hover
      background-position: -30px -30px

    &:active
      background-position: -60px -30px

  &.disabled
    visibility: hidden !important
