* {
  margin:0;
  padding:0;
}

body {
  background:url(../images/layout_san/fundo.jpg);
}

#container {
  width:1000px;
  position:relative;
  margin:auto;
}

#back_top {
  background:url(../images/layout_san/fundo_topo_flat.png) center no-repeat;
  height:55px;
}

#back_logo {
  background:url(../images/layout_san/fundo_logo_flat.png) center no-repeat;
  height:144px;
}

#content_top {
  background:url(../images/layout_san/fundo_meio_flat.png) center repeat-y;
}

#text_top {
  width:820px;
  height:50px;
  margin-left:auto;
  margin-right:auto;
}

#middle {
  background:url(../images/layout_san/fundo_meio_flat.png) center repeat-y;
  padding-top:5px;
}

#content {
  width:820px;
  margin-left:auto;
  margin-right:auto;
}

#back_footer {
  background:url(../images/layout_san/fundo_final_flat.png) center no-repeat;
  height:55px;
}

