%h4
  Número de Matrícula:
  = student_menu.reg
.pane
  %h3= student_menu.name
  - content_tag_for :ul, student_menu do
    %li= link_to "Historico Escolar", student_enrollments_path(student_menu)
    %li= link_to "Rematrícula", new_student_enrollment_path(student_menu)


