@import partials/base.sass
//Blueprint Typograph
+blueprint-typography
+blueprint-debug

/* @group Flash Messages */
.flash_alert, .flash_warning, .flash_notice, .flash_error, .flash_success
  :padding .8em
  :margin
    :bottom 1em
  :border 2px solid #ddd

.flash_error, .flash_alert
  :background #FBE3E4
  :color #8a1f11
  :border
    :color #FBC2C4
  a
    :color #8a1f11
.flash_warning
  :background #FFF6BF
  :color #514721
  :border
    :color #FFD324
  a
    :color #514721
.flash_success, .flash_notice
  :background #E6EFC2
  :color #264409
  :border
    :color #C6D880
  a
    :color #264409
/* @end */

/* @group Rails Errors */

#errorExplanation
  :width 400px
  :border 2px solid #CF0000
  :padding 0
  :padding-bottom 12px
  :margin-bottom 20px
  :background-color #f0f0f0
  h2
    :text-align left
    :padding 5px 5px 5px 15px
    :margin 0
    :font
      :weight bold
      :size 12px
    :background-color #c00
    :color #fff
  p
    :color #333
    :margin-bottom 0
    :padding 8px
  ul
    :margin 2px 24px
    li
      :font-size 12px
      :list-style disc
/* @end */

body
  #container
    +container

#current_user_menu
  :margin 0 1.5em
  ul
    :margin 0 1.5em
