<p>Bem vindo <%= @resource.email %>!</p>

<p>Você pode confirmar a sua conta através do link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<pre>
Ou copie e cole o endereço abaixo:

<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</pre>
