<p>Olá <%= @resource.email %>!</p>

<p>Alguém (talvez você mesmo) requisitou a troca de sua senha, e você pode alterá-la através do link abaixo.</p>

<p><%= link_to 'Troque minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<pre>
Ou através do link abaixo: 
<%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
</pre>
<p>Se você não requisitou isto, ignore este email.</p>
<p>Sua senha não mudará até que acesse o link acima e forneça no formulário os dados de sua nova senha.</p>
